ISI_ICON1 ICON DISCARDABLE"/home/kali/Desktop/C++/sexy.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Maxsoft .Co .Ltd"
            VALUE "FileDescription", "Your Program Description"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Meet Me"
            VALUE "LegalCopyright", "Copyright © 2024 Maxsoft .Co .Ltd"
            VALUE "OriginalFilename", "MeetMe.exe"
            VALUE "ProductName", "Meet Me"
            VALUE "ProductVersion", "1.0.0.0 LTS"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
